<h1>Editing <%= @article.title %></h1>

<%= simple_form_for(@article, :url => resource_url, :html => { :class => "well", :method => :put }) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
<% end %>